extends layout

block content
    h1 My Todo
    p= todo.myTodo
    a(href=`/todos/${todo._id}/edit`) Edit
    form(method="POST", action=`http://localhost:3000/todos/${todo._id}/delete`)
        button(type="submit") Done
        
