<div class="container">
  <h1 class="text-center">Edit Todo</h1>
  <div class="row">
    <div class="col-md-12">
      <form (ngSubmit)="updateTodo(todo._id, todoForm.value)" #todoForm="ngForm">
        <div class="row">
          <div class="col-md-8">
            <div class="form-group">
              <label for="name">My new Todo</label>
              <input type="text" class="form-control" [(ngModel)]="todo.myTodo" name="myTodo" required>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group update-button-container text-center">
              <button type="submit" class="btn btn-success" [disabled]="!todoForm.form.valid">Update</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>