* {
    margin: 0;
    padding: 0;
}

h1 {
    padding: 2rem 0;
}

a,
h1 {
    color: white !important;
}

a:hover {
    text-underline-position: none;
    background: #C3002F !important;
}

li {
    list-style: none;
}

.navbar {
    background: #DD0031;
    border: none;
    border-radius: 0;
}

.navbar-header {
    margin: 0;
}

.view,
h1 {
    background-color: #DD0031;
}