<div class="row text-center">
  <div class="col-sm-12">
    <div class="card">
      <div class="row">
        <div class="col-sm-6 text-right">
          <img [src]="user.avatar" class="card-img-top" alt="avatar">
        </div>
        <div class="col-sm-6 text-left">
          <div class="card-block">
            <span class="card-text">FirstName: {{ user.firstName }}</span>
            <br>
            <span class="card-text">LastName: {{ user.lastName }}</span>
            <br>
            <span class="card-text">Email: {{ user.email }}</span>
            <br>
            <a [routerLink]="['/users/edit/', user._id]" class="btn btn-success">EDIT 🖋</a>
            <button class="btn btn-danger" type="button" (click)="deleteUser(user._id)">DELETE 🗑</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>